<form class="contact-form">
  <mat-form-field>
    <input matInput placeholder="Your Name" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email Address" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Company" required>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Message" required></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Your Favorite Color :)">
  </mat-form-field>

  <button mat-button (click)="submitContactForm()" >Basic</button>

</form>
