
<form id="contact-form" [formGroup]="sendMessageForm" (ngSubmit)="submitContactForm()" >
  {{ diagnostic }}
  <mat-form-field>
    <input matInput placeholder="Your Name" formControlName="name" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email Address" formControlName="email"  >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Company" formControlName="company"  >
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Message" formControlName="message"  ></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Your Favorite Color :)" formControlName="favoriteColor" >
  </mat-form-field>

  <button mat-button [disabled]="!sendMessageForm.valid" type="submit" >Send</button>

</form>
