<div class="main-work">
  <div class="employment">
  <table>
      <tr>
        <td class="company">TigerAware</td><td>Software Developer</td><td>Aug 2019 - Present</td><td class="location">Columbia, Missouri</td>
      </tr>
        <tr class="description"><td></td><td>Aided in design and development of the android app using Java</td></tr>
        <tr class="description"><td></td><td>Aided in design and development of the user dashboard using Angularjs</td></tr>
      </table>
  </div>
  <div class="employment">
    <table>
        <tr>
          <td class="company">Shelter Insurance</td><td>Software Developer II</td><td>May 2019 - Present</td><td class="location">Columbia, Missouri</td>
        </tr>
          <tr class="description"><td></td><td>Aided in design and development of the android app using Java</td></tr>
          <tr class="description"><td></td><td>Aided in design and development of the user dashboard using Angularjs</td></tr>
        </table>
    </div>
    <div class="employment">
      <table>
          <tr>
            <td class="company">Shelter Insurance</td><td>Junior Software Developer</td><td>April 2018 - May 2019</td><td class="location">Columbia, Missouri</td>
          </tr>
            <tr class="description"><td></td><td>Aided in design and development of the android app using Java</td></tr>
            <tr class="description"><td></td><td>Aided in design and development of the user dashboard using Angularjs</td></tr>
          </table>
      </div>
      <div class="employment">
        <table>
            <tr>
              <td class="company">Shaffer & Associates</td><td>Legal Associate</td><td>Aug 2015 - April 2018</td><td class="location">Columbia, Missouri</td>
            </tr>
              <tr class="description"><td></td><td>Aided in design and development of the android app using Java</td></tr>
              <tr class="description"><td></td><td>Aided in design and development of the user dashboard using Angularjs</td></tr>
            </table>
        </div>
        <div class="employment">
          <table>
              <tr>
                <td class="company">Hy-Vee</td><td>Cashier, Deli Clerk</td><td>Feb 2013 - April 2018</td><td class="location">Columbia, Missouri</td>
              </tr>
                <tr class="description"><td></td><td>Aided in design and development of the android app using Java</td></tr>
                <tr class="description"><td></td><td>Aided in design and development of the user dashboard using Angularjs</td></tr>
              </table>
          </div>
</div>
