<div id="top">
  <div id="intro">
    <p>Hello! My name is Jorden and I am a software developer in Columbia, Missouri
    looking for employment in a large city.</p>
    <mat-divider></mat-divider>
    <p>I am a full stack developer with a preference of Angular for front end development,
      Java for android development, and spring boot for backend and microservice development.</p>
    <mat-divider></mat-divider>
    <p>Thank you for your consideration :)</p>
  </div>
  <img src="/assets/me-at-beach.jpg" alt="Sunset in San Francisco" >
<div>
