@import "variables.sass"

app-header
  height: 30%

a
    width: 100px
    border-radius: 20px
    font-family: 'Hind Madurai', sans-serif
    color: $white-green
    text-decoration: none
    outline: none
    margin: 10px
    text-align: center
    padding: 5px 5px 5px 5px

a:hover
  animation-name: animate
  animation-duration: 1s
  background-color: $nice-teal-color
  transform: scale(1.1,1.1)


mat-toolbar
  display: flex
  justify-content: center
  background-color: #2b3540

// div .link-button
//   margin: 0 auto
//   background-color: #2f3845
//   color: $white-green
//   box-shadow: 3px 3px 3px $shadow-color

mat-toolbar-row
  display: flex
  justify-content: center

.button-list > div
  margin: 10px
  text-align: center
