<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-header></app-header>
  <br><br>
  <div class="button-list" >
    <div (mouseenter)="enterHover($event)" (mouseleave)="exitHover($event)" routerLink="/aboutMe" class="link-button" id="about-me-button">
      About Me
    </div>
    <div (mouseenter)="enterHover($event)" (mouseleave)="exitHover($event)" routerLink="/work" class="link-button" id="work-button">
      Work
    </div>
  </div>
  <!-- <app-about-me></app-about-me> -->
<router-outlet></router-outlet>
