@use "../styles/variables" as *

@keyframes spin
  to
    transform: rotate(360deg)

.wrapper
  display: flex
  justify-content: center

.spinner
  width: 100px
  height: 100px
  animation: spin 1.4s linear infinite
  circle
    fill: none
    stroke: $accent
    stroke-width: 10
    stroke-dasharray: 200 283
    stroke-linecap: butt
