@import "../../../variables.sass"

p
  font-family: 'Hind Madurai', sans-serif
  color: $nice-teal-color
  text-align: left
  padding: 15px
  text-indent: 20px
  font-size: 20px

mat-expansion-panel-header
  color: black
  font-size: 20px
  background-color: $nice-teal-color
  color: $white-green
  box-shadow: 2px 2px 2px 2px $shadow-color

mat-expansion-panel
  box-shadow: 2px 2px 2px 2px $shadow-color
  border-radius: 10px 10px 10px 10px
  background-color: white
  margin-bottom: 10px
  @media screen and (max-width: $break-small)
    margin-left: 0%
    margin-right: 0%
  @media screen and (min-width: $break-large)
    margin-left: 20%
    margin-right: 20%

mat-divider
    border-color: $nice-teal-color
