@import "../../../variables.sass"

//div
//  border-style: solid
//  border-color: #627f9c
//  border-width: 2px
//  margin-top: 10px
//  box-shadow: 3px 3px 3px $shadow-color
//  text-align: center
//  padding: 3px

h1
  @media screen and (max-width: 800px)
    font-size: 20px
  @media screen and (min-width: 800px) and (max-width: 925px)
    font-size: 16px
    letter-spacing: 2px
  @media screen and (min-width: 925px)
    letter-spacing: 5px
  font-family: 'Alfa Slab One', cursive
  color: white
  text-shadow: 2px 2px 2px black

h4
  display: flex
  justify-content: end
  font-family: 'Hind Madurai', sans-serif
  color: whitesmoke
  text-shadow: 3px 3px 5px $shadow-color
  @media screen and (min-width: 925px)
    letter-spacing: 5px
  @media screen and (min-width: 800px) and (max-width: 925px)
    font-size: 16px
    letter-spacing: 2px

.row
  @media screen and (max-width: 925px)
    height: 80px
  @media screen and (min-width: 925px)
    height: 160px

.roundedCenter > img
  /*Don't change:  */
  position: absolute
  transform: translate3d(-50%, -50%, 0)
  background: #fff
  box-shadow: 0 5px 7px rgba(0,0,0,0.1)
  border-radius: 50%
  @media screen and (max-width: 925px)
    width: 100px
    height: 100px
    left: 15%
  @media screen and (min-width: 925px)
    width: 160px
    height: 160px
    left: 20%
